@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap");

$queue-ball-background: white;
$queue-ball-border: #1a3315;

.queue-ball {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $queue-ball-background;
  width: 300px;
  height: 150px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: center;
}

.border-within-logo {
  font-size: 18px;
  font-family: "Sacramento", sans-serif;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially set the opacity to 0 */
  animation: fade-in 1.5s ease-in-out 0.5s forwards;
}

.neonText-queue {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 42px #bc13fe, 0 0 82px #bc13fe,
    0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
  font-family: "Permanent Marker", cursive;
  opacity: 0; /* Initially set the opacity to 0 */
  animation: fade-in 1.5s ease-in-out 1.5s forwards;
}

.neonText-ball {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 42px #2d00f7, 0 0 82px #2d00f7,
    0 0 92px #2d00f7, 0 0 102px #2d00f7, 0 0 151px #2d00f7;
  font-family: "Permanent Marker", cursive;
  opacity: 0; /* Initially set the opacity to 0 */
  animation: fade-in 1.5s ease-in-out 2.5s forwards,
    flicker 4s infinite alternate;
}

.border-within-logo h1 {
  font-size: 3.2rem;
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 15px;
  padding: 0.4em 2rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 7px #fff, 0 0 42px #bc13fe, 0 0 82px #bc13fe,
      0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* Fade to opacity 1 */
  }
}

@media only screen and (min-width: 1024px) {
  .neonText-queue {
    color: #fff;
    font-size: 4rem;
    text-shadow: 0 0 7px #fff, 0 0 42px #bc13fe, 0 0 82px #bc13fe,
      0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
    font-family: "Permanent Marker", cursive;
    opacity: 0; /* Initially set the opacity to 0 */
    animation: fade-in 1.5s ease-in-out 1.5s forwards;
  }

  .neonText-ball {
    color: #fff;
    font-size: 4rem;
    text-shadow: 0 0 7px #fff, 0 0 42px #2d00f7, 0 0 82px #2d00f7,
      0 0 92px #2d00f7, 0 0 102px #2d00f7, 0 0 151px #2d00f7;
    font-family: "Permanent Marker", cursive;
    opacity: 0; /* Initially set the opacity to 0 */
    animation: fade-in 1.5s ease-in-out 2.5s forwards,
      flicker 4s infinite alternate;
  }

  .border-within-logo h1 {
    font-size: 3.2rem;
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 15px;
    padding: 0.4em;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
      0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
    width: 115%;
  }
}
