@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poiret+One&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Long+Cang&display=swap");

$table-list-background: black;

$table-list-item-background: linear-gradient(
  110deg,
  rgba(255, 255, 245, 0.9),
  rgba(246, 235, 224, 0.8),
  rgba(246, 238, 224, 1)
);

$table-list-item-border: #3d550c;
$unavailable: linear-gradient(
  110deg,
  rgba(217, 34, 34, 0.8),
  rgba(169, 19, 19, 0.8),
  rgba(128, 14, 14, 0.8),
  rgba(107, 7, 7, 0.8)
);

@mixin initialFadeInAnimation($delay: 3s) {
  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  animation: fade-in 1.5s ease-in-out $delay forwards;
}

.table-list {
  display: flex;
  flex-direction: flex-wrap;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background: url("../../public/images/pool_bar.jpg");
  background-size: cover;
  padding: 20rem 0 4rem 0;
}

.table-list {
  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 150px;
    background-image: $table-list-item-background;
    border-radius: 1rem;
    margin: 1rem;
  }

  &__unavailable {
    background-image: $unavailable;
    color: white;
  }
}

.table-list__available:hover {
  box-shadow: 0 0.2rem #c6b79b, 0.2rem 0 #c6b79b;
}

.table-list__item p {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poiret One", cursive;
}

.table-list__item h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Rock Salt", cursive;
  text-align: center;
  margin-bottom: 0;
}

.table-list__item h3 {
  font-size: 1rem;
  font-family: "Vibur", sans-serif;
  margin-left: 0.5rem;
}

.data-fade-in {
  opacity: 0;
  @include initialFadeInAnimation();
}

.table-list__focused .table-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 4rem 0;
}

.current-match {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 0;
}

#vs {
  display: flex;
  align-self: center;
  font-family: "Indie Flower", cursive;
}

.players-at-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.players-at-table h3 {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Long Cang", cursive;
}

.players-at-table-count {
  font-size: 2rem;
  border-radius: 50%;
  padding: 15px;
  width: 20px;
  height: 20px;
  display: flex;
  // background-color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  font-family: "Poiret One", cursive;
  font-weight: 700;
}

.default-color {
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 1),
    rgba(246, 235, 224, 1),
    rgba(255, 255, 255, 1),
    rgba(228, 212, 195, 1),
    rgba(255, 255, 255, 1)
  );
}

.player-count-zero {
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 1),
    rgba(246, 235, 224, 1),
    rgba(255, 255, 255, 1),
    rgba(228, 212, 195, 1),
    rgba(255, 255, 255, 1)
  );
}

.player-count-zero .inner-ball-circle {
  background-color: transparent;
}

.player-count-one {
  background-image: linear-gradient(
    120deg,
    rgb(231, 173, 0),
    rgb(235, 201, 97),
    rgb(241, 194, 50),
    rgb(244, 188, 20),
    rgb(115, 86, 0)
  );
}

.player-count-two {
  background-image: linear-gradient(
    120deg,
    rgb(54, 85, 138),
    rgb(160, 177, 203),
    rgb(108, 136, 183),
    rgb(81, 113, 161),
    rgb(27, 58, 122)
  );
}

.player-count-three {
  background-image: linear-gradient(
    120deg,
    rgb(244, 0, 11),
    rgb(247, 114, 122),
    rgb(196, 0, 7),
    rgb(148, 0, 5),
    rgb(27, 58, 122)
  );
}

.player-count-four {
  background-image: linear-gradient(
    120deg,
    rgb(51, 29, 93),
    rgb(104, 71, 133),
    rgb(85, 57, 129),
    rgb(68, 44, 106),
    rgb(34, 21, 64)
  );
}

.player-count-five {
  background-image: linear-gradient(
    120deg,
    rgb(253, 151, 15),
    rgb(255, 206, 139),
    rgb(240, 143, 10),
    rgb(227, 135, 0),
    rgb(177, 106, 0)
  );
}

.player-count-six {
  background-image: linear-gradient(
    120deg,
    rgb(16, 138, 91),
    rgb(88, 162, 122),
    rgb(13, 145, 101),
    rgb(10, 127, 86),
    rgb(6, 98, 66)
  );
}

.player-count-seven {
  background-image: linear-gradient(
    120deg,
    rgb(157, 86, 84),
    rgb(191, 121, 119),
    rgb(140, 78, 76),
    rgb(123, 71, 69),
    rgb(95, 54, 52)
  );
}

.player-count-eight {
  background-image: linear-gradient(
    120deg,
    rgb(25, 23, 24),
    rgb(37, 35, 36),
    rgb(20, 17, 17),
    rgb(16, 14, 14),
    rgb(10, 9, 9)
  );
}

.inner-ball-circle {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
}

.table-list__unavailable .inner-ball-circle {
  background-color: transparent;
  font-size: 1.5rem;
  font-family: "Rock Salt", cursive;
  margin-bottom: 0.67em;
}

.table-list__unavailable h1 {
  margin-bottom: 0.67em;
}

@media only screen and (min-width: 1024px) {
  .table-list {
    &__item {
      height: 300px;
      display: flex;
      width: 300px;
      justify-content: center;
    }

    &__unavailable {
      background-image: $unavailable;
    }
  }

  .table-list__focused .table-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 100%;
    padding: 4rem 0;
  }

  .players-at-table-count {
    font-size: 3rem;
    border-radius: 50%;
    padding: 15px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poiret One", cursive;
    margin-bottom: 0.5rem;
  }

  .table-list__item h1 {
    font-size: 3rem;
    margin: 0.67em;
  }

  .table-list__item h3 {
    font-size: 2.5rem;
    font-family: "Vibur", sans-serif;
    margin: 0;
  }

  .table-list__item p {
    font-family: "Poiret One", cursive;
  }

  .current-match {
    width: 93.5%;
  }

  .players-at-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poiret One", cursive;
    margin-top: 0;
  }

  .players-at-table h3 {
    font-family: "Long Cang", cursive;
  }

  .inner-ball-circle {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
  }

  .table-list__unavailable .inner-ball-circle {
    font-size: 2.5rem;
    font-family: "Rock Salt", cursive;
  }
}
